body {
    margin: 0;
    padding: 0;
  }


  .img-sprite {
    position: absolute;
    cursor: pointer;    
  }

.color-rojo {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}